<style>
  .form {margin-top: 210px; text-align: center;} h2 {text-decoration:
  underline;}
</style>
<div class="form">
  <h2>{{viewTitle}}</h2><br />

  <form action="/task" autocomplete="off" method="post">
    <div class="form-group">
      <label for="taskName">Edited Task name:</label><br />
      <input required type="text" id="fname" name="taskName" /><br />
      <label for="taskDesc">Edited Task Description:</label><br />
      <input type="text" id="lname" name="taskDesc" /><br /><br />
    </div>
    <button type="submit" class="btn btn-danger">Confirm</button>
  </form>
</div>