<style>
  .list { margin-left: 500px; margin-top: 150px;} th, td { width:150px;
  text-align:center; padding:5px;} h3 {margin-left: 100px; text-decoration:
  underline;} a {text-decoration: none; color: red;} th {text-decoration:
  underline;} #newTask {margin-left: 70px;} #delete {margin-left: 10px;}
</style>
<div class="list">
  <h3>To-Do List</h3><br /><br />
  <table>
    <thead>
      <tr>
        <th>Task Name</th>
        <th>Task Description</th>
      </tr>
    </thead>
    <tbody>
      {{#each list}}
        <tr>
          <td>{{this.taskName}}</td>
          <td>{{this.taskDesc}}</td>
          <td>
            <a href="/task/edit/{{this._id}}">Edit</a>
            <a
              href="/task/delete/{{this._id}}"
              onclick="return confirm('Are you sure you want to delete this Task?')"
              id="delete"
            >Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table><br />
  <a class="btn btn-primary" href="/task" id="newTask">Go Back and Add New Task</a>
</div>